/* Tag Selectors */

body {
    background-color: pink;
  }
  
  h1 {
    color: blue;
    font-size: 70px;
  }
  
  img:hover {
    background-color: white;
  }
  
  
  /*Class Selectors*/
  
  .bacon{
    background-color: blue;
  }
  
  .pizza{
    background-color: yellow;
  }

  .circular{
    border-radius: 100%;
  }

  /*more specific=>more priority*/
  

  
   /*id Selectors*/

   #heading{
    color: purple;
   }
  
  /*more specific=>more priority*/

  /*same classes can be present but each id has to be unique; any html element can have more than one class but it can only have one id */
  /*Prefer using class selectors over id selectors*/


